Assignment8/ClinicSoapWebServiceClient/src/main/resources/ProviderWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://cs548.stevens.edu/clinic/service/web/soap/provider" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://cs548.stevens.edu/clinic/service/web/soap/provider" name="ProviderWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://cs548.stevens.edu/clinic/service/web/soap/provider" schemaLocation="http://ec2-35-160-163-27.us-west-2.compute.amazonaws.com:8080/ClinicSoapWebService-1.0.0/ProviderWebService?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://cs548.stevens.edu/clinic/dto" schemaLocation="http://ec2-35-160-163-27.us-west-2.compute.amazonaws.com:8080/ClinicSoapWebService-1.0.0/ProviderWebService?xsd=2"/>
</xsd:schema>
</types>
<message name="addProvider">
<part name="parameters" element="tns:addProvider"/>
</message>
<message name="addProviderResponse">
<part name="parameters" element="tns:addProviderResponse"/>
</message>
<message name="ProviderServiceExn">
<part name="fault" element="tns:ProviderServiceExn"/>
</message>
<message name="getProviderByNPI">
<part name="parameters" element="tns:getProviderByNPI"/>
</message>
<message name="getProviderByNPIResponse">
<part name="parameters" element="tns:getProviderByNPIResponse"/>
</message>
<message name="getProviderByProId">
<part name="parameters" element="tns:getProviderByProId"/>
</message>
<message name="getProviderByProIdResponse">
<part name="parameters" element="tns:getProviderByProIdResponse"/>
</message>
<message name="siteInfo">
<part name="parameters" element="tns:siteInfo"/>
</message>
<message name="siteInfoResponse">
<part name="parameters" element="tns:siteInfoResponse"/>
</message>
<message name="addTreatment">
<part name="parameters" element="tns:addTreatment"/>
</message>
<message name="addTreatmentResponse">
<part name="parameters" element="tns:addTreatmentResponse"/>
</message>
<portType name="IProviderWebPort">
<operation name="addProvider">
<input wsam:Action="http://cs548.stevens.edu/clinic/service/web/soap/provider/IProviderWebPort/addProviderRequest" message="tns:addProvider"/>
<output wsam:Action="http://cs548.stevens.edu/clinic/service/web/soap/provider/IProviderWebPort/addProviderResponse" message="tns:addProviderResponse"/>
<fault message="tns:ProviderServiceExn" name="ProviderServiceExn" wsam:Action="http://cs548.stevens.edu/clinic/service/web/soap/provider/IProviderWebPort/addProvider/Fault/ProviderServiceExn"/>
</operation>
<operation name="getProviderByNPI">
<input wsam:Action="http://cs548.stevens.edu/clinic/service/web/soap/provider/IProviderWebPort/getProviderByNPIRequest" message="tns:getProviderByNPI"/>
<output wsam:Action="http://cs548.stevens.edu/clinic/service/web/soap/provider/IProviderWebPort/getProviderByNPIResponse" message="tns:getProviderByNPIResponse"/>
<fault message="tns:ProviderServiceExn" name="ProviderServiceExn" wsam:Action="http://cs548.stevens.edu/clinic/service/web/soap/provider/IProviderWebPort/getProviderByNPI/Fault/ProviderServiceExn"/>
</operation>
<operation name="getProviderByProId">
<input wsam:Action="http://cs548.stevens.edu/clinic/service/web/soap/provider/IProviderWebPort/getProviderByProIdRequest" message="tns:getProviderByProId"/>
<output wsam:Action="http://cs548.stevens.edu/clinic/service/web/soap/provider/IProviderWebPort/getProviderByProIdResponse" message="tns:getProviderByProIdResponse"/>
<fault message="tns:ProviderServiceExn" name="ProviderServiceExn" wsam:Action="http://cs548.stevens.edu/clinic/service/web/soap/provider/IProviderWebPort/getProviderByProId/Fault/ProviderServiceExn"/>
</operation>
<operation name="siteInfo">
<input wsam:Action="http://cs548.stevens.edu/clinic/service/web/soap/provider/IProviderWebPort/siteInfoRequest" message="tns:siteInfo"/>
<output wsam:Action="http://cs548.stevens.edu/clinic/service/web/soap/provider/IProviderWebPort/siteInfoResponse" message="tns:siteInfoResponse"/>
</operation>
<operation name="addTreatment">
<input wsam:Action="http://cs548.stevens.edu/clinic/service/web/soap/provider/IProviderWebPort/addTreatmentRequest" message="tns:addTreatment"/>
<output wsam:Action="http://cs548.stevens.edu/clinic/service/web/soap/provider/IProviderWebPort/addTreatmentResponse" message="tns:addTreatmentResponse"/>
<fault message="tns:ProviderServiceExn" name="ProviderServiceExn" wsam:Action="http://cs548.stevens.edu/clinic/service/web/soap/provider/IProviderWebPort/addTreatment/Fault/ProviderServiceExn"/>
</operation>
</portType>
<binding name="ProviderWebPortBinding" type="tns:IProviderWebPort">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="addProvider">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ProviderServiceExn">
<soap:fault name="ProviderServiceExn" use="literal"/>
</fault>
</operation>
<operation name="getProviderByNPI">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ProviderServiceExn">
<soap:fault name="ProviderServiceExn" use="literal"/>
</fault>
</operation>
<operation name="getProviderByProId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ProviderServiceExn">
<soap:fault name="ProviderServiceExn" use="literal"/>
</fault>
</operation>
<operation name="siteInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addTreatment">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ProviderServiceExn">
<soap:fault name="ProviderServiceExn" use="literal"/>
</fault>
</operation>
</binding>
<service name="ProviderWebService">
<port name="ProviderWebPort" binding="tns:ProviderWebPortBinding">
<soap:address location="http://ec2-35-160-163-27.us-west-2.compute.amazonaws.com:8080/ClinicSoapWebService-1.0.0/ProviderWebService"/>
</port>
</service>
</definitions>